Repository spacedriveapp/spacedrive, pull requests merged in 2023-06, with the labels that each got.

#897 [ENG-683] Fix tauri allow list
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  core/src/custom_uri.rs
  interface/app/$libraryId/settings/library/locations/IndexerRuleEditor/RulesForm.tsx
  pnpm-lock.yaml
Labels: client/desktop

#896 [ENG-534] Themes UI & appearance
  interface/app/$libraryId/Layout/Sidebar/FeedbackDialog.tsx
  interface/app/$libraryId/settings/Setting.tsx
  interface/app/$libraryId/settings/Sidebar.tsx
  interface/app/$libraryId/settings/client/appearance.tsx
  interface/app/$libraryId/settings/library/locations/ListItem.tsx
  interface/app/index.tsx
  interface/hooks/index.ts
  interface/hooks/useIsDark.ts
  interface/hooks/useTheme.ts
  packages/client/src/stores/themeStore.ts
  packages/ui/src/RadioGroup.tsx
  packages/ui/src/forms/Switch.tsx
  packages/ui/style/colors.scss
  packages/ui/style/tailwind.js
Labels: kind/improvement

#858 [ENG 655] Explorer restructure
  apps/landing/src/env.ts
  interface/ErrorFallback.tsx
  interface/app/$libraryId/Explorer/DismissibleNotice.tsx
  interface/app/$libraryId/Explorer/File/ContextMenu.tsx
  interface/app/$libraryId/Explorer/File/RenameTextBox.tsx
  interface/app/$libraryId/Explorer/File/Thumb.tsx
  interface/app/$libraryId/Explorer/GridView.tsx
  interface/app/$libraryId/Explorer/Inspector/index.tsx
  interface/app/$libraryId/Explorer/ListView.tsx
  interface/app/$libraryId/Explorer/MediaView.tsx
  interface/app/$libraryId/Explorer/OptionsPanel.tsx
  interface/app/$libraryId/Explorer/QuickPreview.tsx
  interface/app/$libraryId/Explorer/View.tsx
  interface/app/$libraryId/Explorer/View/GridView.tsx
  interface/app/$libraryId/Explorer/View/ListView.tsx
  interface/app/$libraryId/Explorer/View/MediaView.tsx
  interface/app/$libraryId/Explorer/View/index.tsx
  interface/app/$libraryId/Explorer/ViewContext.ts
  interface/app/$libraryId/Explorer/index.tsx
  interface/app/$libraryId/Layout/Sidebar/JobManager/useGroupedJobs.ts
  interface/app/$libraryId/Layout/Sidebar/LibrariesDropdown.tsx
  interface/app/$libraryId/Layout/Sidebar/LibrarySection.tsx
  interface/app/$libraryId/TopBar/TopBarOptions.tsx
  interface/app/$libraryId/location/$id.tsx
  interface/app/$libraryId/location/LocationOptions.tsx
  interface/app/$libraryId/overview/data.ts
  interface/app/$libraryId/overview/index.tsx
  interface/app/$libraryId/settings/client/appearance.tsx
  interface/app/$libraryId/settings/library/locations/IndexerRuleEditor/RulesForm.tsx
  interface/app/style.scss
  interface/components/GridList.tsx
  interface/hooks/useDragSelect.tsx
  interface/hooks/useExplorerStore.tsx
  interface/package.json
  packages/ui/src/ContextMenu.tsx
  packages/ui/src/Dialog.tsx
  packages/ui/src/Popover.tsx
  packages/ui/style/colors.scss
  pnpm-lock.yaml
Labels: kind/improvement, client/desktop

#871 [ENG-630] Windows ffmpeg + libheif custom build
  .github/scripts/ffmpeg-macos/Dockerfile
  .github/scripts/ffmpeg-macos/ffmpeg-build-macos.sh
  .github/scripts/ffmpeg-windows/.gitignore
  .github/scripts/ffmpeg-windows/Dockerfile
  .github/scripts/ffmpeg-windows/README.md
  .github/scripts/ffmpeg-windows/patches/aom/0001-Fall-back-to-built-in-vmaf-model-on-load-failure.patch
  .github/scripts/ffmpeg-windows/patches/bzip2/bzip2-1.0.8_brokenstuff.diff
  .github/scripts/ffmpeg-windows/scripts.d/10-mingw-std-threads.sh
  .github/scripts/ffmpeg-windows/scripts.d/10-mingw.sh
  .github/scripts/ffmpeg-windows/scripts.d/20-bzip2.sh
  .github/scripts/ffmpeg-windows/scripts.d/20-zlib.sh
  .github/scripts/ffmpeg-windows/scripts.d/25-libogg.sh
  .github/scripts/ffmpeg-windows/scripts.d/25-xz.sh
  .github/scripts/ffmpeg-windows/scripts.d/45-brotli.sh
  .github/scripts/ffmpeg-windows/scripts.d/45-libvorbis.sh
  .github/scripts/ffmpeg-windows/scripts.d/45-opencl.sh
  .github/scripts/ffmpeg-windows/scripts.d/45-vmaf.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-amf.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-dav1d.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-ffnvcodec.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-kvazaar.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libde265.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libjxl.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libmp3lame.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libopus.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libtheora.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libvpx.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-libwebp.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-onevpl.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-openal.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-openjpeg.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-rav1e.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-soxr.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-twolame.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-vulkan/45-vulkan.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-vulkan/50-shaderc.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-vulkan/55-spirv-cross.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-x264.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-x265.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-xvid.sh
  .github/scripts/ffmpeg-windows/scripts.d/50-zimg.sh
  .github/scripts/ffmpeg-windows/scripts.d/99-ffmpeg.sh
  .github/scripts/ffmpeg-windows/scripts.d/99-libheif.sh
  .github/scripts/osxcross/Dockerfile
  .github/scripts/setup-system.ps1
  .github/scripts/setup-system.sh
  .github/workflows/ffmpeg-macos.yml
  .github/workflows/ffmpeg-windows.yml
  apps/server/Dockerfile
  apps/server/docker/Dockerfile
  apps/server/docker/entrypoint.sh
  core/Cargo.toml
  core/src/custom_uri.rs
  core/src/object/preview/thumbnail/mod.rs
Labels: kind/improvement, core, dx
