Repository spacedriveapp/spacedrive, pull requests merged in 2024-08, with the labels that each got.

#2643 Dim pure white text & increase keybind text size in keybind list
  interface/app/$libraryId/settings/client/keybindings.tsx
  packages/ui/style/colors.scss
Labels: kind/improvement, app/desktop, app/web

#2653 [ENG-1836] Prevent "zombie" jobs from appearing in the job manager
  core/src/api/jobs.rs
Labels: kind/bug, core

#2538 [ENG-1159] Report progress when copying files
  .github/workflows/ci.yml
  apps/landing/src/app/page.tsx
  core/crates/file-path-helper/src/isolated_file_path_data.rs
  core/crates/heavy-lifting/src/job_system/report.rs
  core/crates/prisma-helpers/src/lib.rs
  core/prisma/migrations/20240710015044_add_info_colum_to_job/migration.sql
  core/prisma/schema.prisma
  core/src/context.rs
  core/src/location/manager/watcher/utils.rs
  core/src/object/fs/mod.rs
  core/src/object/fs/old_copy.rs
  core/src/old_job/manager.rs
  core/src/old_job/mod.rs
  core/src/old_job/report.rs
  core/src/old_job/worker.rs
  crates/utils/src/db.rs
  crates/utils/src/lib.rs
  interface/app/$libraryId/Layout/Sidebar/JobManager/Job.tsx
  interface/app/$libraryId/Layout/Sidebar/JobManager/JobContainer.tsx
  interface/app/$libraryId/Layout/Sidebar/JobManager/index.tsx
  packages/client/src/core.ts
  packages/client/src/utils/jobs/useJobInfo.tsx
Labels: kind/improvement, app/desktop, core

#2685 Fix typos in introduction.mdx
  docs/product/getting-started/introduction.mdx
Labels: kind/docs, kind/improvement

#2679 Add "Duplicate current tab" keybind
  apps/desktop/src-tauri/src/menu.rs
  apps/desktop/src/App.tsx
  interface/TabsContext.tsx
  interface/app/$libraryId/Layout/Sidebar/SidebarLayout/Footer.tsx
  interface/app/$libraryId/TopBar/index.tsx
  interface/app/$libraryId/settings/client/keybindings.tsx
  interface/hooks/useShortcut.ts
Labels: kind/feature, app/desktop, app/web
