Repository spacedriveapp/spacedrive, pull requests merged in 2024-07, with the labels that each got.

#2622 Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: kind/improvement

#2626 [MOB-114] Improve Media View thumbnails and coming soon alerts
  apps/mobile/src/components/drawer/DrawerLibraryManager.tsx
  apps/mobile/src/components/explorer/Explorer.tsx
  apps/mobile/src/components/explorer/FileMedia.tsx
  apps/mobile/src/components/explorer/FileThumb.tsx
  apps/mobile/src/components/primitive/FeatureUnavailableAlert.tsx
  apps/mobile/src/components/settings/SettingsItem.tsx
  apps/mobile/src/screens/settings/Settings.tsx
  apps/mobile/src/screens/settings/info/Debug.tsx
Labels: kind/improvement, app/mobile

#2632 Updates to Landing
  CONTRIBUTING.md
  apps/landing/package.json
  apps/landing/src/app/Downloads/DockerDialog.tsx
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/mdx/Pre.tsx
  docs/developers/prerequisites/environment-setup.mdx
  docs/developers/prerequisites/welcome.mdx
  docs/product/guides/cli.mdx
  docs/product/guides/importing-photos.mdx
  pnpm-lock.yaml
Labels: kind/docs, kind/improvement, app/landing

#2628 Translate Top Bar and new Overview to Russian and Belarusian
  interface/app/$libraryId/Explorer/TopBarOptions.tsx
  interface/app/$libraryId/overview/FileKindStats.tsx
  interface/app/$libraryId/overview/LibraryStats.tsx
  interface/app/$libraryId/settings/client/network/index.tsx
  interface/locales/be/common.json
  interface/locales/en/common.json
  interface/locales/ru/common.json
Labels: kind/improvement, app/desktop, app/web, topic: language

#2634 Update `rspc-tauri` patch to use updated Tauri API
  patches/@oscartbeaumont-sd__rspc-tauri@0.0.0-main-dc31e5b2.patch
  pnpm-lock.yaml
Labels: kind/bug, app/desktop

#2630 Change `openssl-dev` dependency to `openssh-devel`
  scripts/setup.sh
Labels: kind/bug, development

#2637 [ENG-1791] Fix right-click sometimes opening native context menu
  interface/app/$libraryId/Explorer/View/ViewItem.tsx
Labels: kind/bug, app/desktop

#2639 Bump version to 0.4.1
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  core/Cargo.toml
Labels: app/desktop, core
